name: Deploy to Production

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ~/playwright-full-stack-framework
            
            git reset --hard
            git pull origin main
            
            echo "MONGO_URI=${{ secrets.MONGO_URI }}" > .env
            echo "RABBITMQ_URL=amqp://rabbitmq" >> .env
            echo "GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }}" >> .env
            echo "BASE_URL=${{ secrets.BASE_URL }}" >> .env
            echo "ADMIN_USER=${{ secrets.ADMIN_USER }}" >> .env
            echo "ADMIN_PASS=${{ secrets.ADMIN_PASS }}" >> .env

            docker compose -f docker-compose.prod.yml up -d --build --remove-orphans
            
            docker image prune -f